<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.mapper.AddressMapper">

    <!-- 根据用户唯一ID删除用户信息 -->
    <delete id="deleteAddressByPrimaryKey" parameterType="java.lang.Integer">
        delete from address
        where address_id = #{addressId,jdbcType=INTEGER}
    </delete>
    <!-- 插入一条地址信息，不用传入 addressId，字段自增 -->
    <insert id="insertAddress" parameterType="com.coding.pojo.Address">
        insert into address (user_uuid, addressee_phone,
      address, is_default_Address, take_goods_Province,
      take_goods_City, take_goods_County, take_goods_Name,
      address_x, address_y)
        values (#{userUuid,jdbcType=VARCHAR}, #{addresseePhone,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{isDefaultAddress,jdbcType=INTEGER}, #{takeGoodsProvince,jdbcType=VARCHAR},
      #{takeGoodsCity,jdbcType=VARCHAR}, #{takeGoodsCounty,jdbcType=VARCHAR}, #{takeGoodsName,jdbcType=VARCHAR},
      #{addressX,jdbcType=DOUBLE}, #{addressY,jdbcType=DOUBLE})
    </insert>
    <!-- Address表的所有字段  sql片段 增加冗余字段后需在此添加冗余字段名 -->
    <sql id="Base_Column_List">
        address_id addressId, user_uuid userUuid, addressee_phone addresseePhone, address address, is_default_Address isDefaultAddress, take_goods_Province takeGoodsProvince,
        take_goods_City takeGoodsCity, take_goods_County takeGoodsCounty, take_goods_Name takeGoodsName, address_x addressX, address_y addressY
    </sql>
    <!-- 根据用户 ID 查询用户信息, 返回用户信息(增删 冗余字段 只需修改 sql 片段) -->
    <select id="selectAddressByPrimaryKey" parameterType="java.lang.Integer" resultType="com.coding.pojo.Address">
        <if test="addressId==null or addressId==0">
            select add10 from address order by address_id DESC limit 1
        </if>
        <if test="addressId!=null and addressId!=0">
            SELECT
            <include refid="Base_Column_List"/>
            from address
            where address_id = #{addressId,jdbcType=INTEGER}
        </if>
    </select>
    <!-- 根据用户唯一 ID 进行信息修改（注释的是 冗余字段 ，当进行冗余字段添加时 可以修改） -->
    <update id="updateAddressByPrimaryKey" parameterType="com.coding.pojo.Address">
        update address
        set user_uuid = #{userUuid},
        addressee_phone = #{addresseePhone},
        address = #{address},
        is_default_Address = #{isDefaultAddress},
        take_goods_Province = #{takeGoodsProvince},
        take_goods_City = #{takeGoodsCity},
        take_goods_County = #{takeGoodsCounty},
        take_goods_Name = #{takeGoodsName},
        address_x = #{addressX},
        address_y = #{addressY}
        where address_id = #{addressId,jdbcType=INTEGER}
    </update>

    <!--修改用户默认地址（将需修改用户Uuid、待修改为默认地址的AddressID封装）-->
    <update id="updateAddressUserDefaultAddress" parameterType="com.coding.pojo.Address">
        UPDATE address AS adrs3,
            address AS adrs4
        SET adrs3.is_default_Address= 1,
            adrs4.is_default_Address = 0
        WHERE
            adrs3.address_id = #{addressId}
            AND adrs4.address_id = (
                SELECT
                    adrs2.address_id
                FROM
                    (
                        SELECT
                            adrs1.address_id,
                            adrs1.is_default_Address
                        FROM
                            (
                                select
                                    *
                                from address where user_uuid=#{userUuid}
                            ) adrs1
                    ) adrs2
                WHERE
                    adrs2.is_default_Address = 1
            )
    </update>

    <!-- 查询所有地址信息 （需要将数据库字段名修改为 pojo 指定的属性名） -->
    <select id="selectAddressAll" resultType="com.coding.pojo.Address">
        SELECT
        <include refid="Base_Column_List"/>
        FROM address
    </select>
    <!--根据用户ID查询地址信息-->
    <select id="selectAddressByUserID" parameterType="java.lang.String" resultType="com.coding.pojo.Address">
        <if test="user_uuid!=null and user_uuid!=''">
            SELECT
            <include refid="Base_Column_List"/>
            from address
            where user_uuid = #{user_uuid}
        </if>
        <if test="user_uuid==null or user_uuid==''">
            SELECT add10 from address where address_id =1
        </if>
    </select>
    <!--查询地址表中一共有多少条数据-->
    <select id="selectAddressCount" resultType="java.lang.Integer">
        select COUNT(*) from address
    </select>
</mapper>