<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.mapper.ItemMapper">

    <!--增加商品信息-->
    <insert id="insertItem" parameterType="com.coding.pojo.Item">
      insert into item (item_type_id, item_name,
      item_price, item_market_price, item_score_type,
      score_price, item_images, item_format,
      item_type_one, item_type_two, item_type_three,
      post_price, repertory_number, item_sale_number,
      Item_collect_number, key_word, make_vender,
      make_date,item_introduce
      )
    values (#{itemTypeId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR},
      #{itemPrice,jdbcType=DOUBLE}, #{itemMarketPrice,jdbcType=DOUBLE}, #{itemScoreType,jdbcType=INTEGER},
      #{scorePrice,jdbcType=INTEGER}, #{itemImages,jdbcType=VARCHAR}, #{itemFormat,jdbcType=VARCHAR},
      #{itemTypeOne,jdbcType=INTEGER}, #{itemTypeTwo,jdbcType=INTEGER}, #{itemTypeThree,jdbcType=INTEGER},
      #{postPrice,jdbcType=DOUBLE}, #{repertoryNumber,jdbcType=INTEGER}, #{itemSaleNumber,jdbcType=INTEGER},
      #{itemCollectNumber,jdbcType=INTEGER}, #{keyWord,jdbcType=VARCHAR}, #{makeVender,jdbcType=INTEGER},
      #{makeDate,jdbcType=TIMESTAMP}, #{itemIntroduce,jdbcType=LONGVARCHAR}
      )
    </insert>

    <!--根据商品ID更新商品信息-->
    <update id="updateItemByPrimaryKey" parameterType="com.coding.pojo.Item" >
        update item
        <set >
            <if test="itemTypeId != null" >
                item_type_id = #{itemTypeId,jdbcType=INTEGER},
            </if>
            <if test="itemName != null" >
                item_name = #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="itemPrice != null" >
                item_price = #{itemPrice,jdbcType=DOUBLE},
            </if>
            <if test="itemMarketPrice != null" >
                item_market_price = #{itemMarketPrice,jdbcType=DOUBLE},
            </if>
            <if test="itemScoreType != null" >
                item_score_type = #{itemScoreType,jdbcType=INTEGER},
            </if>
            <if test="scorePrice != null" >
                score_price = #{scorePrice,jdbcType=INTEGER},
            </if>
            <if test="itemImages != null" >
                item_images = #{itemImages,jdbcType=VARCHAR},
            </if>
            <if test="itemFormat != null" >
                item_format = #{itemFormat,jdbcType=VARCHAR},
            </if>
            <if test="itemTypeOne != null" >
                item_type_one = #{itemTypeOne,jdbcType=INTEGER},
            </if>
            <if test="itemTypeTwo != null" >
                item_type_two = #{itemTypeTwo,jdbcType=INTEGER},
            </if>
            <if test="itemTypeThree != null" >
                item_type_three = #{itemTypeThree,jdbcType=INTEGER},
            </if>
            <if test="postPrice != null" >
                post_price = #{postPrice,jdbcType=DOUBLE},
            </if>
            <if test="repertoryNumber != null" >
                repertory_number = #{repertoryNumber,jdbcType=INTEGER},
            </if>
            <if test="itemSaleNumber != null" >
                item_sale_number = #{itemSaleNumber,jdbcType=INTEGER},
            </if>
            <if test="itemCollectNumber != null" >
                Item_collect_number = #{itemCollectNumber,jdbcType=INTEGER},
            </if>
            <if test="keyWord != null" >
                key_word = #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="makeVender != null" >
                make_vender = #{makeVender,jdbcType=INTEGER},
            </if>
            <if test="makeDate != null" >
                make_date = #{makeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="itemIntroduce != null" >
                item_introduce = #{itemIntroduce,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where item_id = #{itemId,jdbcType=INTEGER}
    </update>
   <!-- <update id="updateItemByPrimaryKey" parameterType="com.coding.pojo.Item">
        update item
        set item_type_id = #{itemTypeId,jdbcType=INTEGER},
        item_name = #{itemName,jdbcType=VARCHAR},
        item_price = #{itemPrice,jdbcType=DOUBLE},
        item_market_price = #{itemMarketPrice,jdbcType=DOUBLE},
        item_score_type = #{itemScoreType,jdbcType=INTEGER},
        score_price = #{scorePrice,jdbcType=INTEGER},
        item_images = #{itemImages,jdbcType=VARCHAR},
        item_format = #{itemFormat,jdbcType=VARCHAR},
        item_type_one = #{itemTypeOne,jdbcType=INTEGER},
        item_type_two = #{itemTypeTwo,jdbcType=INTEGER},
        item_type_three = #{itemTypeThree,jdbcType=INTEGER},
        post_price = #{postPrice,jdbcType=DOUBLE},
        repertory_number = #{repertoryNumber,jdbcType=INTEGER},
        item_sale_number = #{itemSaleNumber,jdbcType=INTEGER},
        Item_collect_number = #{itemCollectNumber,jdbcType=INTEGER},
        key_word = #{keyWord,jdbcType=VARCHAR},
        make_vender = #{makeVender,jdbcType=INTEGER},
        make_date = #{makeDate,jdbcType=TIMESTAMP}
        &lt;!&ndash;item1 = #{item1,jdbcType=VARCHAR},
        item2 = #{item2,jdbcType=VARCHAR},
        item3 = #{item3,jdbcType=VARCHAR},
        item4 = #{item4,jdbcType=VARCHAR},
        item5 = #{item5,jdbcType=VARCHAR},
        item6 = #{item6,jdbcType=VARCHAR},
        item7 = #{item7,jdbcType=VARCHAR},
        item8 = #{item8,jdbcType=VARCHAR},
        item9 = #{item9,jdbcType=VARCHAR},
        item10 = #{item10,jdbcType=VARCHAR}&ndash;&gt;
        where item_id = #{itemId,jdbcType=INTEGER}
    </update>-->

    <!--将Item表中的字段封装到 Item 类中-->
    <resultMap id="BaseResultMap" type="com.coding.pojo.Item">
        <id column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="item_type_id" jdbcType="INTEGER" property="itemTypeId"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="item_price" jdbcType="DOUBLE" property="itemPrice"/>
        <result column="item_market_price" jdbcType="DOUBLE" property="itemMarketPrice"/>
        <result column="item_score_type" jdbcType="INTEGER" property="itemScoreType"/>
        <result column="score_price" jdbcType="INTEGER" property="scorePrice"/>
        <result column="item_images" jdbcType="VARCHAR" property="itemImages"/>
        <result column="item_format" jdbcType="VARCHAR" property="itemFormat"/>
        <result column="item_type_one" jdbcType="INTEGER" property="itemTypeOne"/>
        <result column="item_type_two" jdbcType="INTEGER" property="itemTypeTwo"/>
        <result column="item_type_three" jdbcType="INTEGER" property="itemTypeThree"/>
        <result column="post_price" jdbcType="DOUBLE" property="postPrice"/>
        <result column="repertory_number" jdbcType="INTEGER" property="repertoryNumber"/>
        <result column="item_sale_number" jdbcType="INTEGER" property="itemSaleNumber"/>
        <result column="Item_collect_number" jdbcType="INTEGER" property="itemCollectNumber"/>
        <result column="key_word" jdbcType="VARCHAR" property="keyWord"/>
        <result column="make_vender" jdbcType="INTEGER" property="makeVender"/>
        <result column="make_date" jdbcType="TIMESTAMP" property="makeDate"/>
        <!--<result column="item1" jdbcType="VARCHAR" property="item1" />
        <result column="item2" jdbcType="VARCHAR" property="item2" />
        <result column="item3" jdbcType="VARCHAR" property="item3" />
        <result column="item4" jdbcType="VARCHAR" property="item4" />
        <result column="item5" jdbcType="VARCHAR" property="item5" />
        <result column="item6" jdbcType="VARCHAR" property="item6" />
        <result column="item7" jdbcType="VARCHAR" property="item7" />
        <result column="item8" jdbcType="VARCHAR" property="item8" />
        <result column="item9" jdbcType="VARCHAR" property="item9" />
        <result column="item10" jdbcType="VARCHAR" property="item10" />-->
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.coding.pojo.Item">
        <result column="item_introduce" jdbcType="LONGVARCHAR" property="itemIntroduce"/>
    </resultMap>
    <!--Item表的字段-->
    <sql id="Base_Column_List">
        item_id, item_type_id, item_name, item_price, item_market_price, item_score_type,
        score_price, item_images, item_format, item_type_one, item_type_two, item_type_three,
        post_price, repertory_number, item_sale_number, Item_collect_number, key_word, make_vender,
        make_date
    </sql>
    <!--Item中的大文本字段-->
    <sql id="Blob_Column_List">
        item_introduce
    </sql>
    <!--根据商品的唯一ID查询商品信息-->
    <select id="selectItemByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        <if test="itemId!=null and itemId!=''">
            select
            <include refid="Base_Column_List"/>
            ,
            <include refid="Blob_Column_List"/>
            from item
            where item_id = #{itemId,jdbcType=INTEGER}
        </if>
        <if test="itemId==null or itemId==''">
            select item10 from item order by item_id DESC limit 1
        </if>
    </select>

    <!--根据商品id删除商品信息-->
    <delete id="deleteItemByPrimaryKey" parameterType="java.lang.Integer">
        delete from item
    where item_id = #{itemId,jdbcType=INTEGER}
    </delete>
    <!--批量删除商品信息-->
    <delete id="deleteItemByItemIdArray" parameterType="java.lang.Integer">
        delete from item where item_id IN
        <foreach collection="itemIdArray" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--查询所有商品信息-->
    <select id="selectItemAll" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from item
    </select>


    <!--根据商品类别查找商品信息-->
    <select id="selectItemByItemType" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from item
        where item_type_id = #{itemTypeId}
    </select>

    <!--通过正则表达式查找满足模糊匹配的商品信息-->
    <select id="selectItemFuzzyByItemName" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        <if test="fuzzyItemName!='' and fuzzyItemName!=null">
            select
            <include refid="Base_Column_List"/>
            ,
            <include refid="Blob_Column_List"/>
            from item
            where item_name REGEXP #{fuzzyItemName}
        </if>
        <if test="fuzzyItemName=='' or fuzzyItemName==null">
            select item10 from item order by item_id DESC limit 1
        </if>
    </select>


    <!--通过正则表达式查找满足模糊匹配的商品信息按升序排序-->
    <select id="selectItemFuzzyByItemNameSort" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        <if test="fuzzyItemName!='' and fuzzyItemName!=null">
            select
            <include refid="Base_Column_List"/>
            ,
            <include refid="Blob_Column_List"/>
            from item
            where item_name REGEXP '${fuzzyItemName}'
            ORDER BY ${sortColumn}  ${sortRule}
        </if>
        <if test="fuzzyItemName=='' or fuzzyItemName==null">
            select item10 from item order by item_id DESC limit 1
        </if>
    </select>

    <!--这是一个查询功能模块的集合，包含了众多的查询功能，根据 Paging 对象的封装
     * 需要用到什么参数就将参数封装到 Paging 中，不需要用到的参数切忌不要封装。
     * 该接口通过 Paging 中参数的封装去进行 SQL 语句拼接，参数的封装需要小心。
     -->
    <select id="selectItem" parameterType="com.coding.paging.PagingCustomItem" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from item
        <where>
            <!--查询字段属于Item，需先判定 item 是否为空-->
            <if test="item != null">
                <!--ID主键查询-->
                <if test="item.itemId != null and item.itemId != 0">
                    and item_id = #{item.itemId}
                </if>
                <if test="item.itemName != null and item.itemName != ''">
                    and item_name REGEXP #{item.itemName}
                </if>
                <!--关键字模糊查询（商品名称或商品描述）-->
                <if test="item.keyWord != null and item.keyWord != ''">
                    and key_word REGEXP #{item.keyWord}
                </if>
                <!--厂家模糊查询-->
                <if test="item.makeVender != null and item.makeVender != 0">
                    and make_vender = ${item.makeVender}
                </if>

                <!--商品属性（是否为积分商品）-->
                <if test="item.itemScoreType != null">
                    and item_score_type = ${item.itemScoreType}
                </if>
            </if>

            <!--库存范围内查询-->
            <if test="formerRepertoryNumber != null">
                <!--最大 最小值不为空-->
                <if test="latterRepertoryNumber != null and latterRepertoryNumber != 0">
                    <if test="formerRepertoryNumber &lt; latterRepertoryNumber ">
                        and repertory_number BETWEEN #{formerRepertoryNumber} and #{latterRepertoryNumber}
                    </if>
                    <if test="formerRepertoryNumber &gt; latterRepertoryNumber ">
                        and repertory_number BETWEEN #{latterRepertoryNumber} and #{formerRepertoryNumber}
                    </if>
                    <if test="formerRepertoryNumber == latterRepertoryNumber ">
                        and repertory_number = #{latterRepertoryNumber}
                    </if>
                </if>
                <!--只给定了最小值-->
                <if test="latterRepertoryNumber == null or latterRepertoryNumber == 0">
                    and repertory_number &gt;= #{formerRepertoryNumber}
                    <!--BETWEEN #{formerRepertoryNumber} and #{latterRepertoryNumber}-->
                </if>
            </if>
            <!--如果库存量查询的时候只给定了一个最大值，只需要查询小于给定值的商品，那么就给最小值设定初始值为0-->
            <if test="formerRepertoryNumber == null">
              <if test="latterRepertoryNumber != null and latterRepertoryNumber != 0">
                  and repertory_number &lt;= #{latterRepertoryNumber}
                  <!--BETWEEN 0 and #{latterRepertoryNum}-->
              </if>
            </if>

            <!--销售量范围内查询-->
            <if test="formerItemSaleNumber != null">
                <!--给定了 最大 最小值-->
                <if test="latterItemSaleNumber != null and latterItemSaleNumber != 0">
                    <if test="formerItemSaleNumber &lt; latterItemSaleNumber">
                        and item_sale_number BETWEEN #{formerItemSaleNumber} and #{latterItemSaleNumber}
                    </if>
                    <if test="formerItemSaleNumber &gt; latterItemSaleNumber">
                        and item_sale_number BETWEEN #{latterItemSaleNumber} and #{formerItemSaleNumber}
                    </if>
                    <if test="formerItemSaleNumber == latterItemSaleNumber">
                        and item_sale_number = ${latterItemSaleNumber}
                    </if>
                </if>
                <!--如果销售量查询的时候只给定了一个最小值，只需要查询大于给定值的商品-->
                <if test="latterItemSaleNumber == null or latterItemSaleNumber == 0">
                    and item_sale_number &gt;=  #{formerItemSaleNumber}
                    <!--BETWEEN #{formerItemSaleNumber} and #{latterItemSaleNumber}-->
                </if>
            </if>
            <!--如果销售量查询的时候只给定了一个最大值，只需要查询小于给定值的商品-->
            <if test="formerItemSaleNumber == null">
                <if test="latterItemSaleNumber != null and latterItemSaleNumber != 0">
                    and item_sale_number  &lt;= #{latterItemSaleNumber}
                    <!--BETWEEN 0 and #{latterItemSaleNumber}-->
                </if>
            </if>

            <!--收藏量范围内查询-->
            <if test="formerItemCollectNumber != null">
                <!--给定了最大值和最小值-->
                <if test="latterItemCollectNumber != null and latterItemCollectNumber != 0">
                    <if test="formerItemCollectNumber &lt; latterItemCollectNumber">
                        and Item_collect_number BETWEEN #{formerItemCollectNumber} and #{latterItemCollectNumber}
                    </if>
                    <if test="formerItemCollectNumber &gt; latterItemCollectNumber">
                        and Item_collect_number BETWEEN #{latterItemCollectNumber} and #{formerItemCollectNumber}
                    </if>
                    <if test="formerItemCollectNumber == latterItemCollectNumber">
                        and Item_collect_number = #{latterItemCollectNumber}
                    </if>
                </if>
                <!--如果收藏量查询的时候只给定了一个最小值，只需要查询大于给定值的商品-->
                <if test="latterItemCollectNumber == null or latterItemCollectNumber == 0">
                    and Item_collect_number &gt;=  #{formerItemCollectNumber}
                    <!--BETWEEN #{formerItemCollectNumber} and #{latterItemCollectNumber}-->
                </if>
            </if>
            <!--如果收藏量查询的时候只给定了一个最大值，只需要查询小于给定值的商品-->
            <if test="formerItemCollectNumber == null">
                <if test="latterItemCollectNumber != null and latterItemCollectNumber != 0">
                    and Item_collect_number &lt;= #{latterItemCollectNumber}
                    <!--BETWEEN 0 and #{latterItemCollectNumber}-->
                </if>
            </if>

            <!--商品价格范围-->
            <if test="formerItemMarketPrice != null">
                <!--较大值和较小值都传入-->
                <if test="latterItemMarketPrice != null and latterItemMarketPrice != 0">
                    <if test="formerItemMarketPrice &lt; latterItemMarketPrice">
                        and item_market_price BETWEEN #{formerItemMarketPrice} and #{latterItemMarketPrice}
                    </if>
                    <if test="formerItemMarketPrice &gt; latterItemMarketPrice">
                        and item_market_price BETWEEN #{latterItemMarketPrice} and #{formerItemMarketPrice}
                    </if>
                    <if test="formerItemMarketPrice == latterItemMarketPrice">
                        and item_market_price = #{latterItemMarketPrice}
                    </if>
                </if>
                <!--只传入较小值-->
                <if test="latterItemMarketPrice == null or latterItemMarketPrice == 0">
                    and item_market_price &gt; #{formerItemMarketPrice}
                </if>
            </if>
            <!--如果价格查询的时候只给定了一个最大值，只需要查询小于给定值的商品-->
            <if test="formerItemMarketPrice == null">
                <if test="latterItemMarketPrice != null and latterItemMarketPrice != 0">
                    and item_market_price &lt; #{latterItemMarketPrice}
                </if>
            </if>


        </where>

        <!--排序规则-->
        <if test="sortByColumn != null and sortByColumn !=''">
            <if test="sortRule != null and sortRule != ''">
                order by ${sortByColumn} ${sortRule}
            </if>
        </if>

        <!--分页-->
        <if test="indexNumber != null">
            <if test="pageNumber != null and pageNumber != 0">
                limit #{indexNumber},#{pageNumber}
            </if>
        </if>
        <if test="indexNumber == null">
            <if test="pageNumber != null and pageNumber != 0">
                limit 0,#{pageNumber}
            </if>
        </if>
    </select>

    <!--查询商品表中一共有多少条数据-->
    <select id="selectItemCount" resultType="java.lang.Integer">
        select count(*) from item
    </select>

</mapper>