<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.mapper.VenderMapper">

    <!--根据厂家ID删除厂家信息-->
    <delete id="deleteVenderByPrimaryKey" parameterType="java.lang.Integer">
      delete from vender
    where vender_id = #{venderId,jdbcType=INTEGER}
    </delete>
    <!--根据厂家ID批量删除厂家信息-->
    <delete id="deleteVenderByPrimaryKeyArray" parameterType="java.lang.Integer">
        delete from vender where vender_id IN
        <foreach collection="venderIdArrary" item="vender" open="(" separator="," close=")">
            #{vender}
        </foreach>
    </delete>
    <!--插入厂家信息-->
    <insert id="insertVender" parameterType="com.coding.pojo.Vender">
        insert into vender (vender_name, vender_address,
        vender_phone, ic_id, business_range,
        vender_email, vender_post
        <!--, vender1,
        vender2, vender3, vender4,
        vender5, vender6, vender7,
        vender8, vender9, vender10-->
        )
        values (#{venderName,jdbcType=VARCHAR}, #{venderAddress,jdbcType=VARCHAR},
        #{venderPhone,jdbcType=VARCHAR}, #{icId,jdbcType=INTEGER}, #{businessRange,jdbcType=VARCHAR},
        #{venderEmail,jdbcType=VARCHAR}, #{venderPost,jdbcType=INTEGER}
        <!--, #{vender1,jdbcType=VARCHAR},
      #{vender2,jdbcType=VARCHAR}, #{vender3,jdbcType=VARCHAR}, #{vender4,jdbcType=VARCHAR},
      #{vender5,jdbcType=VARCHAR}, #{vender6,jdbcType=VARCHAR}, #{vender7,jdbcType=VARCHAR},
      #{vender8,jdbcType=VARCHAR}, #{vender9,jdbcType=VARCHAR}, #{vender10,jdbcType=VARCHAR}-->
        )
    </insert>

    <!--将Vender表的字段封装到 Vender 类中-->
    <resultMap id="BaseResultMap" type="com.coding.pojo.Vender">
        <id column="vender_id" jdbcType="INTEGER" property="venderId"/>
        <result column="vender_name" jdbcType="VARCHAR" property="venderName"/>
        <result column="vender_address" jdbcType="VARCHAR" property="venderAddress"/>
        <result column="vender_phone" jdbcType="VARCHAR" property="venderPhone"/>
        <result column="ic_id" jdbcType="INTEGER" property="icId"/>
        <result column="business_range" jdbcType="VARCHAR" property="businessRange"/>
        <result column="vender_email" jdbcType="VARCHAR" property="venderEmail"/>
        <result column="vender_post" jdbcType="INTEGER" property="venderPost"/>
        <!--<result column="vender1" jdbcType="VARCHAR" property="vender1" />
        <result column="vender2" jdbcType="VARCHAR" property="vender2" />
        <result column="vender3" jdbcType="VARCHAR" property="vender3" />
        <result column="vender4" jdbcType="VARCHAR" property="vender4" />
        <result column="vender5" jdbcType="VARCHAR" property="vender5" />
        <result column="vender6" jdbcType="VARCHAR" property="vender6" />
        <result column="vender7" jdbcType="VARCHAR" property="vender7" />
        <result column="vender8" jdbcType="VARCHAR" property="vender8" />
        <result column="vender9" jdbcType="VARCHAR" property="vender9" />
        <result column="vender10" jdbcType="VARCHAR" property="vender10" />-->
    </resultMap>
    <!--vnder表中的字段-->
    <sql id="Base_Column_List">
        vender_id, vender_name, vender_address, vender_phone, ic_id, business_range, vender_email,
        vender_post
        <!--, vender1, vender2, vender3, vender4, vender5, vender6, vender7, vender8,
        vender9, vender10-->
    </sql>

    <!--根据厂家ID查找厂家信息-->
    <select id="selectVenderByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <if test="venderId!=null and venderId!=0">
            select
            <include refid="Base_Column_List"/>
            from vender
            where vender_id = #{venderId,jdbcType=INTEGER}
        </if>
        <if test="venderId==null or venderId==0">
            select vender10 from vender order by vender_id DESC limit 1
        </if>
    </select>

    <!--根据厂家ID更新厂家信息-->
    <update id="updateVenderByPrimaryKey" parameterType="com.coding.pojo.Vender">
        update vender
    set vender_name = #{venderName,jdbcType=VARCHAR},
      vender_address = #{venderAddress,jdbcType=VARCHAR},
      vender_phone = #{venderPhone,jdbcType=VARCHAR},
      ic_id = #{icId,jdbcType=INTEGER},
      business_range = #{businessRange,jdbcType=VARCHAR},
      vender_email = #{venderEmail,jdbcType=VARCHAR},
      vender_post = #{venderPost,jdbcType=INTEGER}
      <!--,
      vender1 = #{vender1,jdbcType=VARCHAR},
      vender2 = #{vender2,jdbcType=VARCHAR},
      vender3 = #{vender3,jdbcType=VARCHAR},
      vender4 = #{vender4,jdbcType=VARCHAR},
      vender5 = #{vender5,jdbcType=VARCHAR},
      vender6 = #{vender6,jdbcType=VARCHAR},
      vender7 = #{vender7,jdbcType=VARCHAR},
      vender8 = #{vender8,jdbcType=VARCHAR},
      vender9 = #{vender9,jdbcType=VARCHAR},
      vender10 = #{vender10,jdbcType=VARCHAR}-->
    where vender_id = #{venderId,jdbcType=INTEGER}
    </update>

    <!--查询所有厂家信息-->
    <select id="selectVenderAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vender
    </select>

    <!--厂家表的查询大SQL-->
    <select id="selectVender" parameterType="com.coding.paging.PagingCustomVender" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from vender
        <where>
            <!--根据投诉基本信息进行查询-->
            <if test="vender != null">
                <if test="vender.venderId != null and vender.venderId != 0">
                    and vender_id = #{vender.venderId}
                </if>
                <!--根据用户 uuid 查询投诉信息-->
                <if test="vender.venderName != null and vender.venderName != ''">
                    and vender_name REGEXP #{vender.venderName}
                </if>
                <!--根据用户 AdminId 查询投诉信息-->
                <if test="vender.venderAddress != null and vender.venderAddress != ''">
                    and vender_address = #{vender.venderAddress}
                </if>
                <if test="vender.venderPhone != null and vender.venderPhone != ''">
                    and vender_phone = #{vender.venderPhone}
                </if>
                <if test="vender.icId != null and vender.icId != 0">
                    and ic_id = #{vender.icId}
                </if>
                <if test="vender.businessRange != null and vender.businessRange != ''">
                    and business_range REGEXP #{vender.businessRange}
                </if>
                <if test="vender.venderEmail != null and vender.venderEmail != ''">
                    and vender_email = #{vender.venderEmail}
                </if>
                <if test="vender.venderPost != null and vender.venderPost != 0">
                    and vender_post = #{vender.venderPost}
                </if>
            </if>
        </where>
        <!--排序规则-->
        <if test="sortByColumn != null and sortByColumn !=''">
            <if test="sortRule != null and sortRule != ''">
                order by ${sortByColumn} ${sortRule}
            </if>
        </if>
        <!--分页-->
        <if test="indexNumber != null">
            <if test="pageNumber != null and pageNumber != 0">
                limit #{indexNumber},#{pageNumber}
            </if>
        </if>
        <if test="indexNumber == null">
            <if test="pageNumber != null and pageNumber != 0">
                limit 0,#{pageNumber}
            </if>
        </if>
    </select>


    <!--查询厂家表中一共有多少条数据-->
    <select id="selectVenderCount" resultType="java.lang.Integer">
        select count(*) from vender
    </select>

</mapper>