/*修改layui引用区块*/
.layui-elem-quote {
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #4fc0e8;
    border-radius: 5px;
    background-color: #ecf8fc
}

.layui-elem-quote h1,
.layui-elem-quote h2,
.layui-elem-quote h3,
.layui-elem-quote h4,
.layui-elem-quote h5,
.layui-elem-quote h6 {
    margin-bottom: 20px;
    color: #4fc0e8;
    font-size: 18px;
}