.hang-1 {
    float: left;
    margin-left: 20px;
    width: 244px;
    height: 60px
}

.hang-2 {
    float: left;
    margin-left: 60px;
    width: 330px;
    height: 65px
}

.hang-butt {
    float: left;
    margin-top: 20px
}
.hang-1 input {
    height: 20px;
}
.hang-2 input {
    width:100px;
    height: 20px;
}


.myButton {
    width: 60px;
    height: 35px;
    background-color: #1ab394;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color: #009688;
}

.myButton:active {
    position: relative;
    top: 1px;
}