.hang-1 {
    float: left;
    margin-left: 20px;
    width: 244px;
    height: 60px
}

.hang-2 {
    float: left;
    margin-left: 60px;
    width: 244px;
    height: 60px
}

.hang-3 {
    float: left;
    margin-left: 60px;
    height:60px;
    width: 300px
}

.hang-butt {
    float: right;
    margin-right: 50px;
    margin-top: 60px
}

.hang-1 input {
    height: 22px;
}

.hang-2 input {
    width: 73px;
    height: 22px;
}

.hang-3 input {
    width: 100px;
    height: 22px;
}

/*设置placeholder样式*/
input::-webkit-input-placeholder {
    color:#DCDCDC; /*字体颜色*/
}

.myButton {
    width: 60px;
    height: 35px;
    margin-left: 20px;
    background-color: #1ab394;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color: #009688;
}

.myButton:active {
    position: relative;
    top: 1px;
}