.hang-1 {
    float: left;
    margin-left: 20px;
    width: 244px;
    height: 55px
}

.hang-2 {
    float: left;
    margin-left: 60px;
    width: 244px;
    height: 55px
}

.hang-3 {
    float: left;
    margin-left: 60px;
    width: 360px;
    height: 55px;
}

.hang-butt {
    float: left;
    margin-top: 18px
}